/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    --title-color: #b16637;
    --title-background: #3e1410;

    --heading-color: #dfcf;
    
    --text-color: #c5cbcd;
    --background-color: #1f2329;
    
    --container-background: #2b1816;
    
    --link-color: #15679e;
    --rollover-color: #771e1e;
}

/* Typography */

body {
    font-family: 'Newsreader', serif;
    font-size: 16px;
    color: white;
    background-color: black;
    line-height: 1.5;
}

h1, h2, h3{
    font-family: 'Jaro', sans-serif;
    font-weight: 700;
    color: var(--heading-color);
    text-align: center;
}

h1 {
    font-size: 2.5em;
    color: var(--title-color);
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    text-align: left;
}

p {
    font-size: 1em;
    text-align: left;
}

/* Links */

button {
    color: var(--link-color);
    background-color: var(--background-color);
    font-size: 1em;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--link-color);
}

button:hover {
    color: var(--rollover-color);
    background-color: var(--link-color);
}

/* Layout */

.container {
    background-color: var(--container-background);
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}


/* Header */

header {
    background-color: var(--title-background);
    padding: 20px;
}


/* Navigation */

nav {
    text-align: center;
    background-color: var(--header-background);
    padding: 20px;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}


/* Main */

main {
    background-color: var(--background-color);
    padding: 20px;
    margin: 10px auto;
}


/* Footer */

footer {
    background-color: var(--title-background);
    padding: 20px;
}

.video-item {
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--title-color);
    border-radius: 10px;
    width: 90%;
    height: auto;
    aspect-ratio: 16/9;
}
.video-item iframe {
    border: 1px solid var(--title-color);
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.gallery-item {
    margin: 20px auto;
    padding: 5px;
    text-align: center;
    border: 1px solid var(--title-color);
    border-radius: 10px;
    width: 80%;
    height: auto;
    aspect-ratio: 16/9;
}

.gallery-item img {
    border: 1px solid var(--title-color);
    border-radius: 10px;
    width: auto;
    height: 100%;
}

.gallery-item iframe {
    border: 1px solid var(--title-color);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}