* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    background-color: #625d5d;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    font-style: bold;
    display: inline;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4ef;
    color: #292828;
    padding: 20px;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

a {
    color: #a10e0e;
    text-decoration: none;
}
a:hover {
    color: #deb613;
}

main {
    padding: 20px;
    text-align: left;
}

p {
    margin-bottom: 20px;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    color: #deb613;
}

button:disabled {
    background-color: #888;
    color: #666;
}